@page "/"

@using System.Threading
@using Telerik.FontIcons
@using Telerik.Blazor.Services
@* You can use the service for Telerik localization for your own code as well - for example the grid command buttons *@
@inject ITelerikStringLocalizer Localizer
@* This is the namespace that is generated from the resx files localizer *@
@using TelerikCrud.Shared.Resources

<style>
    /*
            Styles normally go in a .css file.
            This is just a simple example to get you started.
        */
    .myWindow {
        width: 100%;
        max-width: 70%;
        max-height: 70%;
    }

    .k-notification-container {
        margin: 64px 8px 0 0;
        width: 360px;
    }

</style>
@if (!IsWindowVisible)
{
    <div class="alert alert-warning">
        <p>
            You closed the TelerikWindow component. There's so many good links in that window,
            if you would like to see it again click here
            <TelerikButton ThemeColor="@(ThemeConstants.Button.ThemeColor.Primary)" OnClick="@( _ => IsWindowVisible = true )">Show Window</TelerikButton>
        </p>
    </div>
}
<TelerikWindow @bind-Visible="@IsWindowVisible" Class="myWindow">
    <WindowTitle>
        <h1>Welcome to Stella Advise app</h1>
    </WindowTitle>
    <WindowContent>
        Current UI culture (used for localization): @Thread.CurrentThread.CurrentUICulture.Name
        <br />
        Current thread culture (used for date and number formatting): @Thread.CurrentThread.CurrentCulture.Name
        <br />
        <div class="row">
            
            Select scenario from menu
        </div>
    </WindowContent>
    <WindowActions>
        <WindowAction Name="Close"></WindowAction>
    </WindowActions>
</TelerikWindow>

<TelerikNotification @ref="@Notification"
                    VerticalPosition="NotificationVerticalPosition.Top"
                    AnimationType="AnimationType.SlideLeft">
    <Template>
        <p>
            @context.Text: You can navigate your application with the TelerikMenu. Edit the menu in <b>/shared/NavMenu.razor.</b>
        </p>
    </Template>
</TelerikNotification>

@code {
    public bool IsWindowVisible { get; set; } = true;

    TelerikNotification Notification { get; set; }

    public void Show(MouseEventArgs args)
    {
        Notification.Show(new NotificationModel()
            {
                Text = nameof(Notification),
                Icon = FontIcon.ChevronUp,
                ThemeColor = "primary",
                Closable = false,
                CloseAfter = 6000
            });
    }
}
